body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: lightblue;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #0571b194, #d6ab5c);
  padding: 15px 30px;
  color: white;
}

.logo-box img {
  height: 60px;
  width: auto;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}