<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parameter Ingestion</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Parameter Ingestion</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>
    <main id="app" class="main-container">
        <div>
            <div class="controls">
                <div>
                    <label class="label">Search:</label>
                    <input type="text" v-model="searchQuery" @input="filterData" placeholder="Search by ID, Name..."
                        class="input" />
                </div>

                <div>
                    <label class="label">Sort by:</label>
                    <select v-model="selectedSortKey" @change="handleSortChange" class="custom-select">
                        <option value="">-- Select sort key --</option>
                        <option v-for="key in sortableKeys" :value="key">${ keyLabels[key] }
                        </option>
                    </select>
                </div>

                <div>
                    <button @click="goToExistingConfigs" class="action-btn">
                        Existing Configs
                    </button>
                </div>
            </div>
            <section class="data-table">
                <table>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>ID</th>
                            <th>Param Name</th>
                            <th>Param Theme</th>
                            <th>Param Gen Frequency</th>
                            <th>Aggregation Period</th>
                            <th>Param Display Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in filteredData" :key="item.id">
                            <td>${ index + 1 }</td>
                            <td>${ item.id }</td>
                            <td>${ item.param_name }</td>
                            <td>${ item.param_theme }</td>
                            <td>${ item.param_gen_frequency }</td>
                            <td>${ item.aggregation_period }</td>
                            <td>${ item.param_displayname }</td>
                            <td>
                                <button @click="redirectToParam(item.id)" class="action-btn">
                                    Publish
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <p v-if="loading" class="status-text">Loading data...</p>
            <p v-if="error" class="status-text error-text">${ error }</p>
        </div>
    </main>

    <footer class="footer">
        © 2025 VEDAS, SAC, ISRO, Government of India | All Rights Reserved
    </footer>

    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>

</html>