<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parameter Ingestion</title>

    <link rel="stylesheet" href="static\css\style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="static\js\vue.js"></script>
</head>

<body>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Parameter Ingestion</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>
    <main id="app">
        <div>
            <h2>Welcome to the Parameter Ingestion App</h2>
            <p>This is a simple Flask application integrated with Vue.js.</p>
            <p>Use this app to manage and ingest parameters efficiently.</p>
        </div>
    </main>
</body>

</html>