<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
</head>

<body>
    <div>

    </div>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Register Page</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>

    <main id="app" class="main-div">
        <!-- <h1>Configuring for: {{ param_name }}</h1> -->
        <form class="form-css" method="POST" action="/register/{{ param_name }}/key={{ key_id }}"
            enctype="multipart/form-data">

            <div class="form-section">
                <div class="section-heading" style="grid-row: span 7;">New Entry</div>

                <label for="name">Param Name:</label>
                <input id="name" type="text" name="name" value="{{ param_name }}" readonly />

                <label for="folder_path">Folder Path:</label>
                <div class="folder-path-container">
                    <select style="width: auto;" id="folder_path_main" name="folder_path_main" v-model="folderPathMain"
                        required>
                        <option value="" disabled selected>Select main folder</option>
                        <option value="/home/isro/68_data/">/home/isro/68_data/</option>
                        <option value="/data/VEDAS_Projects_Datasets/">/data/VEDAS_Projects_Datasets/</option>
                        <option value="/home/RAW_DATA/RAW_DATA/">/home/RAW_DATA/RAW_DATA/</option>
                    </select>
                    <input id="folder_path_sub" type="text" name="folder_path_sub" v-model="folderPathSub"
                        placeholder="Subdirectory" />

                    <button style="width: 40%;" type="button" @click="verifyFolderPath"
                        :disabled="folderPathVerifying">Verify</button>

                    <span style="margin-left: 10px; font-weight: bold; width: -webkit-fill-available;">
                        ${ folderPathVerifyResult }
                    </span>
                </div>

                <label for="categorical_data">Categorical Data:</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="categorical_data" value="true" v-model="selectedCategoricalData"
                            required />
                        True
                    </label>
                    <label>
                        <input type="radio" name="categorical_data" value="false" v-model="selectedCategoricalData"
                            required />
                        False
                    </label>
                </div>

                <label for="categorical_fn" v-if="selectedCategoricalData === 'true'">Categorical Fn:</label>
                <div class="radio-group" v-if="selectedCategoricalData === 'true'">
                    <label>
                        <input type="radio" name="categorical_fn" value="sameVal" v-model="selectedCategoricalFn"
                            required />
                        SameVal
                    </label>
                    <label>
                        <input type="radio" name="categorical_fn" value="category_max" v-model="selectedCategoricalFn"
                            required />
                        Category Max
                    </label>
                </div>

                <label for="stats" v-if="selectedCategoricalData !== 'true'">Stats:</label>
                <div class="checkbox-group" v-if="selectedCategoricalData !== 'true'">
                    <label><input type="checkbox" name="stats[]" value="min" /> Min</label>
                    <label><input type="checkbox" name="stats[]" value="max" /> Max</label>
                    <label><input type="checkbox" name="stats[]" value="mean" /> Mean</label>
                    <label><input type="checkbox" name="stats[]" value="count" /> Count</label>
                </div>

                <label for="update_flag">Update Flag</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="update_flag" value="true" required />
                        True
                    </label>
                    <label>
                        <input type="radio" name="update_flag" value="false" required />
                        False
                    </label>
                </div>

                <label for="replace_days_range">Replace Days Range:</label>
                <div class="replace-days-container">
                    <input type="number" name="replace_days_range[]" placeholder="Start (e.g., 0)" />
                    <input type="number" name="replace_days_range[]" placeholder="End (e.g., 3)" />
                </div>

            </div>

            <hr class="form-divider" />
            <div class="form-section">
                <div class="section-heading">Entities</div>

                <!-- Each entity block -->
                <div v-for="(entity, index) in entities" :key="index" class="entity-section">

                    <label :for="'entity_name_' + index">Name:</label>
                    <input :id="'entity_name_' + index" type="text" v-model="entity.name"
                        :name="'entities[' + index + '][name]'" required />

                    <label :for="'entity_source_id_' + index">Source ID:</label>
                    <select :id="'entity_source_id_' + index" v-model="entity.source_id"
                        :name="'entities[' + index + '][source_id]'" required>
                        <option value="" disabled>Select Source ID</option>
                        <option v-for="source in sourceOptions" :key="source.id" :value="source.id">
                            ${ source.id } - ${ source.name }
                        </option>
                    </select>

                    <label :for="'region_prefix_filter_' + index">Region Prefix Filter:</label>
                    <div>
                        <div v-for="(filter, filterIndex) in entity.regionPrefixFilters" :key="filterIndex"
                            class="region-filter-input">
                            <input type="text" v-model="entity.regionPrefixFilters[filterIndex]"
                                :name="'entities[' + index + '][region_prefix_filter][]'" :required="filterIndex === 0"
                                placeholder="C91" />
                            <button type="button" v-if="entity.regionPrefixFilters.length > 1"
                                @click="removeRegionFilter(index, filterIndex)">Remove</button>
                        </div>
                        <button type="button" @click="addRegionFilter(index)">Add</button>
                    </div>

                    <label :for="'entity_params_' + index">Params:</label>
                    <input :id="'entity_params_' + index" type="text" :name="'entities[' + index + '][params]'"
                        v-model="entity.params" readonly />

                    <button type="button" @click="removeEntity(index)" v-if="entities.length > 1"
                        class="remove-entity-button">Remove Entity</button>

                    <hr />
                </div>

                <!-- Add Entity Button -->
                <button type="button" class="add-entity-button" @click="addEntity">Add Entity</button>
            </div>
            <!-- Submit Button -->
            <div class="form-button-container">
                <button type="submit" class="button">Save</button>
            </div>
        </form>
        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
    </main>

    <footer class="footer">
        © 2025 VEDAS, SAC, ISRO, Government of India | All Rights Reserved
    </footer>
    <script>
        var key_id = {{ key_id }};
        var param_name = "{{ param_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>

</html>