<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
</head>

<body>
    <div>

    </div>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Register Page</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>

    <main id="app" class="main-div">
        <!-- <h1>Configuring for: {{ param_name }}</h1> -->
        <form class="form-css" method="POST" action="/register" enctype="multipart/form-data">

            <!-- Geoentity Source Section -->
            <div class="form-section">
                <div class="section-heading" style="grid-row: span 7;">New Entry</div>

                <label for="name">Param Name:</label>
                <input id="name" type="text" name="name" value="{{ param_name }}" readonly />

                <label for="folder_path">Folder Path</label>
                <input id="folder_path" type="text" name="folder_path" required />

                <label for="stats">Stats:</label>
                <input id="stats" type="text" name="stats" required />

                <label for="exclude_values_for_stats">Exclude values for stats</label>
                <input id="exclude_values_for_stats" type="text" name="exclude_values_for_stats" required />

                <label for="update_flag">Update Flag</label>
                <input id="update_flag" type="text" name="update_flag" required />

                <label for="param_execution_type">Param Execution Type:</label>
                <input id="param_execution_type" type="text" name="param_execution_type" required />

                <label for="replace_days_range">Replace Days Range:</label>
                <input id="replace_days_range" type="text" name="replace_days_range" required />

            </div>

            <hr class="form-divider" /> <!-- Geoentity Config Section -->
            <div class="form-section">
                <div class="section-heading" style="grid-row: span 2;">Entities</div>

                <label for="config_remark_info">Remark Info:</label>
                <textarea id="config_remark_info" name="config_remark_info"
                    rows="2">{{ prefill.geoentity_config.remark.info if prefill else 'Mandatory information for GeoEntity insertion.' }}</textarea>

                <label for="config_notes">Notes (one per line):</label>
                <textarea id="config_notes" name="config_notes"
                    rows="3">{% if prefill and prefill.geoentity_config.remark.note %}
            {{ prefill.geoentity_config.remark.note | join('\n') }}
            {% endif %}Parent_Type ('File' or 'DB'),Parent_GeoEntity_Source_ID' (For Spatial Join) and 'Prefix_Identifier' required to be confirmed from DB Administrator/Author/Internal_Reviewer.
In case of 'File' ParentName & ParentID should be provided from 'File' and incase of 'DB' ParentName & ParentID will be fetched from DB.</textarea>
            </div>

            <!-- <hr class="form-divider" /> -->
            <!-- GeoJSON File Config Section -->
            <!-- <div class="form-section">
                <div class="section-heading" style="grid-row: span 1;">GeoJSON File Upload</div>
                <label for="geojson_file">Upload GeoJSON File:</label>
                {% if prefill and prefill.geoentity_config.geoJSON_file_config.file_path %}
                <p>Current file: {{ prefill.geoentity_config.geoJSON_file_config.file_path }}</p>
                {% endif %}
                <input id="geojson_file" type="file" name="geojson_file" accept=".geojson" {% if not prefill
                    %}required{% endif %} />
                <input type="hidden" id="existing_file_path"
                    value="{{ prefill.geoentity_config.geoJSON_file_config.file_path if prefill else '' }}">
            </div>

            <hr class="form-divider" /> -->

            <!-- Wrap this section to hide/show -->
            <!-- <div class="form-section" id="geojson-file-config-section">
                <div class="section-heading" style="grid-row: span 5;">GeoJSON File Config</div>

                <label for="parent_type">Parent Type:</label>
                <select id="parent_type" name="parent_type" required>
                    <option value="DB" {% if prefill and prefill.geoentity_config.geoJSON_file_config.parent_type=="DB"
                        %}selected{% endif %}>DB</option>
                    <option value="File" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.parent_type=="File" %}selected{% endif %}>File
                    </option>
                </select>
                <label for="parent_geoentity_source_id">Parent Geoentity Source ID:</label>
                <select id="parent_geoentity_source_id" name="parent_geoentity_source_id" required>
                    <option value="">-- Select an ID --</option>
                    <option value="-1" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.parent_geoentity_source_id|string=="-1"
                        %}selected{% endif %}>-1</option>
                    <option value="0" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.parent_geoentity_source_id|string=="0" %}selected{%
                        endif %}>0</option>
                    {% for source in parent_geoentity_sources %}
                    <option value="{{ source.id }}" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.parent_geoentity_source_id|string==source.id|string
                        %} selected {% endif %}>
                        {{ source.id }} - {{ source.name }}
                    </option>
                    {% endfor %}
                </select>
                <label for="prefix_identifier">Prefix Identifier:</label>
                <input id="prefix_identifier" type="text" name="prefix_identifier"
                    value="{{ prefill.geoentity_config.geoJSON_file_config.prefix_identifier if prefill else '' }}" />

                <label for="geojson_aux_attributes">GeoJSON Aux Attributes (comma-separated):</label>
                <div id="geojson-aux-checkboxes">
                    {% if geojson_columns %}
                    {% for col in geojson_columns %}
                    <label>
                        <input type="checkbox" name="geojson_aux_attributes" value="{{ col }}" {% if prefill and col in
                            prefill.geoentity_config.geoJSON_file_config.geoJSON_aux_attributes %}checked{% endif %} />
                        {{ col }}
                    </label><br />
                    {% endfor %}
                    {% else %}
                    <p>No GeoJSON columns available.</p>
                    {% endif %}
                </div>
            </div> -->

            <!-- <hr class="form-divider" /> -->


            <!-- GeoJSON Info Attribute Section -->
            <!-- <div class="form-section hidden-section" id="geojson-info-section">
                <div class="section-heading" style="grid-row: span 2;">GeoJSON Info Attribute</div>

                <label for="geojson_info_name">Info Name:</label>
                <select id="geojson_info_name" name="geojson_info_name">
                    <option value="">-- Select Info Name --</option>
                    {% for col in geojson_columns %}
                    <option value="{{ col }}" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.geoJSON_info_attribute.name==col %} selected {%
                        endif %}>
                        {{ col }}
                    </option>
                    {% endfor %}
                </select>

                <label for="geojson_feature_id">Feature ID:</label>
                <select id="geojson_feature_id" name="geojson_feature_id">
                    <option value="">-- Select Feature ID --</option>
                    {% for col in geojson_columns %}
                    <option value="{{ col }}" {% if prefill and
                        prefill.geoentity_config.geoJSON_file_config.geoJSON_info_attribute.feature_ID==col %} selected
                        {% endif %}>
                        {{ col }}
                    </option>
                    {% endfor %}
                </select>
            </div> -->
            <!-- Submit Button -->
            <div class="form-button-container">
                <button type="submit" class="button">Save</button>
            </div>
        </form>
        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
    </main>

    <footer class="footer">
        © 2025 VEDAS, SAC, ISRO, Government of India | All Rights Reserved
    </footer>
    <script>
        var key_id = {{ key_id }};
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>

</html>