<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
</head>

<body>
    <div>

    </div>
    <header class="main-header">
        <div class="logo-box">
            <a href="https://vedas.sac.gov.in" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/vedas_logo.png" alt="VEDAS" />
            </a>
        </div>
        <h1 class="dashboard-title">Register Page</h1>
        <div class="logo-box">
            <a href="https://www.isro.gov.in/" target="_blank">
                <img src="https://vedas.sac.gov.in/vstatic/data_monitoring_system/img/rightside.png" alt="ISRO" />
            </a>
        </div>
    </header>

    <main id="app" class="main-div">
        <!-- <h1>Configuring for: {{ param_name }}</h1> -->
        <form class="form-css" method="POST" action="/register/{{ param_name }}/key={{ key_id }}"
            enctype="multipart/form-data">

            <div class="form-section">
                <div class="section-heading" style="grid-row: span 7;">New Entry</div>

                <label for="name">Param Name:</label>
                <input id="name" type="text" name="name" value="{{ param_name }}" readonly />

                <label for="folder_path">Folder Path</label>
                <input id="folder_path" type="text" name="folder_path" required />

                <label for="stats">Stats:</label>
                <div class="checkbox-group">
                    <label><input type="checkbox" name="stats[]" value="min" /> Min</label>
                    <label><input type="checkbox" name="stats[]" value="max" /> Max</label>
                    <label><input type="checkbox" name="stats[]" value="mean" /> Mean</label>
                    <label><input type="checkbox" name="stats[]" value="count" /> Count</label>
                </div>

                <label for="update_flag">Update Flag</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="update_flag" value="true" required />
                        True
                    </label>
                    <label>
                        <input type="radio" name="update_flag" value="false" required />
                        False
                    </label>
                </div>

                <label for="replace_days_range">Replace Days Range:</label>
                <div class="replace-days-container">
                    <input type="number" name="replace_days_range[]" placeholder="Start (e.g., 0)" />
                    <input type="number" name="replace_days_range[]" placeholder="End (e.g., 3)" />
                </div>

            </div>

            <hr class="form-divider" />
            <div class="form-section">
                <div class="section-heading" style="grid-row: span 4;">Entities</div>

                <label for="entity_name">Name:</label>
                <input id="entity_name" type="text" name="entity_name" required />

                <label for="entity_source_id">Source ID:</label>
                <input id="entity_source_id" type="text" name="entity_source_id" required />

                <label for="region_prefix_filter">Region Prefix Filter:</label>
                <div id="region-filters-container">
                    <div v-for="(filter, index) in regionPrefixFilters" :key="index" class="region-filter-input">
                        <input type="text" v-model="regionPrefixFilters[index]" :required="index === 0"
                            name="region_prefix_filter[]" />
                        <button type="button" v-if="regionPrefixFilters.length > 1"
                            @click.prevent="removeRegionFilter(index)">
                            Remove
                        </button>
                    </div>
                </div>
                <button type="button" id="add-region-filter-btn" @click.prevent="addRegionFilter">Add</button>

                <label for="entity_params">Params:</label>
                <input id="entity_params" type="text" name="entity_params" value="{{ param_name }}" readonly />
            </div>
            <!-- Submit Button -->
            <div class="form-button-container">
                <button type="submit" class="button">Save</button>
            </div>
        </form>
        {% if message %}
        <p class="success">{{ message }}</p>
        {% endif %}
    </main>

    <footer class="footer">
        © 2025 VEDAS, SAC, ISRO, Government of India | All Rights Reserved
    </footer>
    <script>
        var key_id = {{ key_id }};
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>

</html>